<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>IMDB Movie Search</title>
</head>

<body>



<div class="row">
    <form action="/ajemdibi_szorcs" method="POST">
        <input type="text" name="movie_title" placeholder="Enter a movie title">
        <select name="movie_year">
            <option value="2010">2010</option>
            <option value="2000">2000</option>
            <option value="1990">1990</option>
        </select>
        <input type="submit" value="Search">
    </form>
</div>

{% for record in list_movies %}
<div class="row">
    {{ record.title_primary }} {{ record.year }} {{ record.genre }} {{ record.rating }}
</div>
{% endfor %}

</body>
</html>
