<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>IMDB Search</title>
    </head>

    <body>
        <div class="container">
            <form class="form-inline" action="{{ url_for('ajemdibi_szorcs') }}" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="movie_title" placeholder="Enter a movie title">
                </div>
                <div class="form-group mr-sm-3">
                    <select class="form-control" name="movie_year">
                        <option value="2010">2010 - 2019</option>
                        <option value="2000">2000 - 2009</option>
                        <option value="1990">1990 - 1999</option>
                        <option value="1980">1980 - 1989</option>
                        <option value="1970">1970 - 1979</option>
                        <option value="1960">1960 - 1969</option>
                        <option value="0000">0000 - 1959</option>
                    </select>
                </div>

                <div class="form-group mr-sm-3">
                    <select class="form-control" name="movie_genre">
                        <option value="Action">Action</option>
                        <option value="Adventure">Adventure</option>
                        <option value="Animation">Animation</option>
                        <option value="Biography">Biography</option>
                        <option value="Comedy">Comedy</option>
                        <option value="Crime">Crime</option>
                        <option value="Documentary">Documentary</option>
                        <option value="Drama">Drama</option>
                        <option value="Family">Family</option>
                        <option value="Fantasy">Fantasy</option>
                        <option value="Film-Noir">Film-Noir</option>
                        <option value="Game-Show">Game-Show</option>
                        <option value="History">History</option>
                        <option value="Horror">Horror</option>
                        <option value="Music">Music</option>
                        <option value="Musical">Musical</option>
                        <option value="Mystery">Mystery</option>
                        <option value="News">News</option>
                        <option value="Reality-TV">Reality-TV</option>
                        <option value="Romance">Romance</option>
                        <option value="Sci-Fi">Sci-Fi</option>
                        <option value="Short">Short</option>
                        <option value="Sport">Sport</option>
                        <option value="Talk-Show">Talk-Show</option>
                        <option value="Thriller">Thriller</option>
                        <option value="War">War</option>
                        <option value="Western">Western</option>
                    </select>
                </div>


                <button type="submit" class="btn btn-outline-secondary">Search</button>
            </form>

            {% if list_movies %}
            <table class="table table-bordered table-sm table-hover">

                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Year</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Rating</th>
                    </tr>
                </thead>

                <tbody>
                    {% for record in list_movies %}
                    <tr>
                        <td>
                            <a href="https://www.imdb.com/title/{{ record.id }}/" target="_blank">
                                {{ record.title_primary }}
                            </a>
                        </td>
                        <td>{{ record.year }}</td>
                        <td>{{ record.genre }}</td>
                        <td>{{ record.rating }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            {% endif %}
        </div>
    </body>
</html>
