<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>IMDB Search</title>
    </head>

    <body>
        <div class="container">
            <form action="/ajemdibi_szorcs" method="POST">
                <input type="text" name="movie_title" placeholder="Enter a movie title">
                <select class="custom-select" name="movie_year">
                    <option value="2010">2010-2019</option>
                    <option value="2000">2000-2009</option>
                    <option value="1990">1990-1999</option>
                    <option value="1980">1980-1989</option>
                    <option value="1970">1970-1979</option>
                    <option value="1960">1960-1969</option>
                    <option value="0000">0000-1959</option>
                </select>
                <input type="submit" value="Search">
            </form>

            <div>

            </div>
            
            
            {% if list_movies %}
            <table class="table table-bordered table-sm table-hover">

                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Year</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Rating</th>
                    </tr>
                </thead>

                <tbody>
                    {% for record in list_movies %}
                    <tr>
                        <td>{{ record.title_primary }}</td>
                        <td>{{ record.year }}</td>
                        <td>{{ record.genre }}</td>
                        <td>{{ record.rating }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            {% endif %}
        </div>
    </body>
</html>
